@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(20% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(20% 0 0);
    --foreground: oklch(95% 0 0);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
